
<div>
    <h1>AllCars</h1>
    <table class="table table-striped table-hover table-bordered">
         <thead class="thead-dark">
          <tr>
            <th>CarID</th> 
             <th>CarName</th>
             <th>CarModel</th>
             <th>Price</th> 
           </thead>
          <tr *ngFor="let c of car;">
              <td>{{c.carId}}</td>
              <td>{{c.carName}}</td>
              <td>{{c.carModel}}</td>
              <td>{{c.price}}</td> 
             
          </tr>
    </table>
</div>